# æœŸä¸­æµ‹è¯•

In [2]:
import pandas as pd
import numpy as np

## ã€ä»»åŠ¡ä¸€ã€‘ä¼ä¸šæ”¶å…¥çš„å¤šæ ·æ€§
<img src="../source/_static/æœŸä¸­-ä»»åŠ¡1.png" width="100%">

In [6]:
df1 = pd.read_csv('../data/æµ‹è¯•/Company_data.csv')
df1.head()

   è¯åˆ¸ä»£ç           æ—¥æœŸ  æ”¶å…¥ç±»å‹           æ”¶å…¥é¢
0     1  2008/12/31     1  1.084218e+10
1     1  2008/12/31     2  1.259789e+10
2     1  2008/12/31     3  1.451312e+10
3     1  2008/12/31     4  1.063843e+09
4     1  2008/12/31     5  8.513880e+08

In [7]:
df2 = pd.read_csv('../data/æµ‹è¯•/Company.csv')
df2.head()

      è¯åˆ¸ä»£ç     æ—¥æœŸ
0  #000007  2014
1  #000403  2015
2  #000408  2016
3  #000408  2017
4  #000426  2015

In [183]:
df1.dtypes

è¯åˆ¸ä»£ç       int64
æ—¥æœŸ       object
æ”¶å…¥ç±»å‹      int64
æ”¶å…¥é¢     float64
dtype: object

In [205]:
# df1 èšç±»ï¼ŒæŒ‰ç…§è¯åˆ¸ä»£ç ã€å¹´ä»½ã€æ”¶å…¥ç±»å‹
df1['æ—¥æœŸ'] = df1['æ—¥æœŸ'].str[:4]
group_df1 = df1.groupby(['è¯åˆ¸ä»£ç ','æ—¥æœŸ','æ”¶å…¥ç±»å‹']).sum()
group_df1.reset_index(inplace=True)
group_df1.head()

   è¯åˆ¸ä»£ç     æ—¥æœŸ  æ”¶å…¥ç±»å‹           æ”¶å…¥é¢
0     1  2008     1  1.084218e+10
1     1  2008     2  1.259789e+10
2     1  2008     3  1.451312e+10
3     1  2008     4  1.063843e+09
4     1  2008     5  8.513880e+08

In [206]:
# æ±‚å’Œï¼Œè®¡ç®—æ¯”ä¾‹
group_df1['æ€»å’Œ'] = group_df1.groupby(['è¯åˆ¸ä»£ç ','æ—¥æœŸ'])['æ”¶å…¥é¢'].transform('sum')
group_df1['æ¯”ä¾‹'] = group_df1['æ”¶å…¥é¢']/group_df1['æ€»å’Œ']
group_df1.head(5)

   è¯åˆ¸ä»£ç     æ—¥æœŸ  æ”¶å…¥ç±»å‹           æ”¶å…¥é¢            æ€»å’Œ        æ¯”ä¾‹
0     1  2008     1  1.084218e+10  7.284498e+10  0.148839
1     1  2008     2  1.259789e+10  7.284498e+10  0.172941
2     1  2008     3  1.451312e+10  7.284498e+10  0.199233
3     1  2008     4  1.063843e+09  7.284498e+10  0.014604
4     1  2008     5  8.513880e+08  7.284498e+10  0.011688

In [207]:
# log
group_df1['ä¿¡æ¯'] = group_df1['æ¯”ä¾‹'] * np.log(group_df1['æ¯”ä¾‹'])
group_df1['è¯åˆ¸ä»£ç '] = group_df1['è¯åˆ¸ä»£ç '].apply(lambda x:'#' + ('000000'+str(x))[-6:])
group_df1.head(5)

/Users/wangyanan/opt/miniconda3/lib/python3.7/site-packages/pandas/core/series.py:726: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/wangyanan/opt/miniconda3/lib/python3.7/site-packages/pandas/core/series.py:726: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

      è¯åˆ¸ä»£ç     æ—¥æœŸ  æ”¶å…¥ç±»å‹           æ”¶å…¥é¢            æ€»å’Œ        æ¯”ä¾‹        ä¿¡æ¯
0  #000001  2008     1  1.084218e+10  7.284498e+10  0.148839 -0.283522
1  #000001  2008     2  1.259789e+10  7.284498e+10  0.172941 -0.303478
2  #000001  2008     3  1.451312e+10  7.284498e+10  0.199233 -0.321419
3  #000001  2008     4  1.063843e+09  7.284498e+10  0.014604 -0.061724
4  #000001  2008     5  8.513880e+08  7.284498e+10  0.011688 -0.052001

In [218]:
# èšç±»ï¼Œæ›´æ–°åˆ°df2
group2_df1 = group_df1.groupby(['è¯åˆ¸ä»£ç ','æ—¥æœŸ'])['ä¿¡æ¯'].sum().reset_index()
group2_df1['æ—¥æœŸ'] = group2_df1['æ—¥æœŸ'].astype('int')

In [219]:
df2.merge(group2_df1,on=['è¯åˆ¸ä»£ç ','æ—¥æœŸ'],how='left')

         è¯åˆ¸ä»£ç     æ—¥æœŸ        ä¿¡æ¯
0     #000007  2014 -3.070462
1     #000403  2015 -2.790585
2     #000408  2016 -2.818541
3     #000408  2017       NaN
4     #000426  2015 -3.084266
...       ...   ...       ...
1043  #600978  2011 -3.319059
1044  #600978  2014 -2.788100
1045  #600978  2015 -3.012628
1046  #600978  2016 -3.021157
1047  #600978  2017       NaN

[1048 rows x 3 columns]

## ã€ä»»åŠ¡äºŒã€‘ç»„é˜Ÿå­¦ä¹ ä¿¡æ¯è¡¨çš„å˜æ¢

ã€é¢˜ç›®æè¿°ã€‘è¯·æŠŠç»„é˜Ÿå­¦ä¹ çš„é˜Ÿä¼ä¿¡æ¯è¡¨å˜æ¢ä¸ºå¦‚ä¸‹å½¢æ€ï¼Œå…¶ä¸­â€œæ˜¯å¦é˜Ÿé•¿â€ä¸€åˆ—å–1è¡¨ç¤ºé˜Ÿé•¿ï¼Œå¦åˆ™ä¸º0
<img src="../source/_static/æœŸä¸­-ä»»åŠ¡2.png" width="80%">

In [97]:
df3 = pd.read_excel('../data/æµ‹è¯•/ç»„é˜Ÿä¿¡æ¯æ±‡æ€»è¡¨ï¼ˆPandasï¼‰.xlsx')
df3.head(3)

,æ‰€åœ¨ç¾¤,é˜Ÿä¼åç§°,é˜Ÿé•¿ç¼–å·,é˜Ÿé•¿_ç¾¤æ˜µç§°,é˜Ÿå‘˜1 ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°,é˜Ÿå‘˜2 ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°.1,é˜Ÿå‘˜3 ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°.2,...,é˜Ÿå‘˜6 ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°.5,é˜Ÿå‘˜7 ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°.6,é˜Ÿå‘˜8 ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°.7,é˜Ÿå‘˜9 ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°.8,é˜Ÿå‘˜10ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°.9
0,Pandasæ•°æ®åˆ†æ,ä½ è¯´çš„éƒ½å¯¹é˜Ÿ,5,å±±æ«å¶çº·é£,6,è”¡,7.0,å®‰æ…•å¸Œ,8.0,ä¿¡ä»°,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Pandasæ•°æ®åˆ†æ,ç†ŠçŒ«äºº,175,é±¼å‘²å‘²,44,Heaven,37.0,å•é’,50.0,ä½™æŸ³æˆè«,...,25.0,Never say never,55.0,K,120.0,Y.,28.0,X.Y.Q,151.0,swrong
2,Pandasæ•°æ®åˆ†æ,ä¸­å›½ç§»ä¸åŠ¨,107,Y's,124,ğŸ¥•,75.0,Vito,146.0,å¼ å°äº”,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [98]:
df3.columns

Index(['æ‰€åœ¨ç¾¤', 'é˜Ÿä¼åç§°', 'é˜Ÿé•¿ç¼–å·', 'é˜Ÿé•¿_ç¾¤æ˜µç§°', 'é˜Ÿå‘˜1 ç¼–å·', 'é˜Ÿå‘˜_ç¾¤æ˜µç§°', 'é˜Ÿå‘˜2 ç¼–å·',
       'é˜Ÿå‘˜_ç¾¤æ˜µç§°.1', 'é˜Ÿå‘˜3 ç¼–å·', 'é˜Ÿå‘˜_ç¾¤æ˜µç§°.2', 'é˜Ÿå‘˜4 ç¼–å·', 'é˜Ÿå‘˜_ç¾¤æ˜µç§°.3', 'é˜Ÿå‘˜5 ç¼–å·',
       'é˜Ÿå‘˜_ç¾¤æ˜µç§°.4', 'é˜Ÿå‘˜6 ç¼–å·', 'é˜Ÿå‘˜_ç¾¤æ˜µç§°.5', 'é˜Ÿå‘˜7 ç¼–å·', 'é˜Ÿå‘˜_ç¾¤æ˜µç§°.6', 'é˜Ÿå‘˜8 ç¼–å·',
       'é˜Ÿå‘˜_ç¾¤æ˜µç§°.7', 'é˜Ÿå‘˜9 ç¼–å·', 'é˜Ÿå‘˜_ç¾¤æ˜µç§°.8', 'é˜Ÿå‘˜10ç¼–å·', 'é˜Ÿå‘˜_ç¾¤æ˜µç§°.9'],
      dtype='object')

In [99]:
df3.columns = ['æ‰€åœ¨ç¾¤', 'é˜Ÿä¼åç§°', 'é˜Ÿé•¿ç¼–å·', 'é˜Ÿé•¿_ç¾¤æ˜µç§°', 'ç¼–å·1', 'æ˜µç§°1', 'ç¼–å·2',
       'æ˜µç§°2', 'ç¼–å·3', 'æ˜µç§°3', 'ç¼–å·4', 'æ˜µç§°4', 'ç¼–å·5',
       'æ˜µç§°5', 'ç¼–å·6', 'æ˜µç§°6', 'ç¼–å·7', 'æ˜µç§°7', 'ç¼–å·8',
       'æ˜µç§°8', 'ç¼–å·9', 'æ˜µç§°9', 'ç¼–å·10', 'æ˜µç§°10']

In [100]:
df3.insert(4, 'ç¼–å·0', df3['é˜Ÿé•¿ç¼–å·'])
df3.insert(5, 'æ˜µç§°0', df3['é˜Ÿé•¿_ç¾¤æ˜µç§°'])
df3.head(2)

,æ‰€åœ¨ç¾¤,é˜Ÿä¼åç§°,é˜Ÿé•¿ç¼–å·,é˜Ÿé•¿_ç¾¤æ˜µç§°,ç¼–å·0,æ˜µç§°0,ç¼–å·1,æ˜µç§°1,ç¼–å·2,æ˜µç§°2,...,ç¼–å·6,æ˜µç§°6,ç¼–å·7,æ˜µç§°7,ç¼–å·8,æ˜µç§°8,ç¼–å·9,æ˜µç§°9,ç¼–å·10,æ˜µç§°10
0,Pandasæ•°æ®åˆ†æ,ä½ è¯´çš„éƒ½å¯¹é˜Ÿ,5,å±±æ«å¶çº·é£,5,å±±æ«å¶çº·é£,6,è”¡,7.0,å®‰æ…•å¸Œ,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Pandasæ•°æ®åˆ†æ,ç†ŠçŒ«äºº,175,é±¼å‘²å‘²,175,é±¼å‘²å‘²,44,Heaven,37.0,å•é’,...,25.0,Never say never,55.0,K,120.0,Y.,28.0,X.Y.Q,151.0,swrong

In [101]:
# å˜å½¢
ans_df3 = pd.wide_to_long(df3,
                stubnames=['æ˜µç§°','ç¼–å·'],
                i = ['æ‰€åœ¨ç¾¤', 'é˜Ÿä¼åç§°', 'é˜Ÿé•¿ç¼–å·','é˜Ÿé•¿_ç¾¤æ˜µç§°'],
                j='åºå·')
ans_df3.head(5)

                                        æ˜µç§°    ç¼–å·
æ‰€åœ¨ç¾¤        é˜Ÿä¼åç§°   é˜Ÿé•¿ç¼–å· é˜Ÿé•¿_ç¾¤æ˜µç§° åºå·
Pandasæ•°æ®åˆ†æ ä½ è¯´çš„éƒ½å¯¹é˜Ÿ 5    å±±æ«å¶çº·é£  0     å±±æ«å¶çº·é£    5.0
                              1         è”¡    6.0
                              2       å®‰æ…•å¸Œ    7.0
                              3         ä¿¡ä»°   8.0
                              4   biubiuğŸ™ˆğŸ™ˆ  20.0

In [102]:
ans_df3.dropna(subset = ['æ˜µç§°'],inplace=True)

In [103]:
ans_df3.reset_index(inplace = True)

In [104]:
ans_df3['æ˜¯å¦é˜Ÿé•¿'] = ans_df3['åºå·'] == 0
ans_df3['æ˜¯å¦é˜Ÿé•¿'] = ans_df3['æ˜¯å¦é˜Ÿé•¿'].astype('int')
ans_df3['ç¼–å·'] = ans_df3['ç¼–å·'].astype('int')

ans_df3.head(10)

          æ‰€åœ¨ç¾¤    é˜Ÿä¼åç§°  é˜Ÿé•¿ç¼–å·  é˜Ÿé•¿_ç¾¤æ˜µç§°  åºå·        æ˜µç§°   ç¼–å·  æ˜¯å¦é˜Ÿé•¿
0  Pandasæ•°æ®åˆ†æ  ä½ è¯´çš„éƒ½å¯¹é˜Ÿ     5  å±±æ«å¶çº·é£    0    å±±æ«å¶çº·é£     5     1
1  Pandasæ•°æ®åˆ†æ  ä½ è¯´çš„éƒ½å¯¹é˜Ÿ     5  å±±æ«å¶çº·é£    1        è”¡     6     0
2  Pandasæ•°æ®åˆ†æ  ä½ è¯´çš„éƒ½å¯¹é˜Ÿ     5  å±±æ«å¶çº·é£    2      å®‰æ…•å¸Œ     7     0
3  Pandasæ•°æ®åˆ†æ  ä½ è¯´çš„éƒ½å¯¹é˜Ÿ     5  å±±æ«å¶çº·é£    3        ä¿¡ä»°    8     0
4  Pandasæ•°æ®åˆ†æ  ä½ è¯´çš„éƒ½å¯¹é˜Ÿ     5  å±±æ«å¶çº·é£    4  biubiuğŸ™ˆğŸ™ˆ   20     0
5  Pandasæ•°æ®åˆ†æ     ç†ŠçŒ«äºº   175     é±¼å‘²å‘²   0       é±¼å‘²å‘²  175     1
6  Pandasæ•°æ®åˆ†æ     ç†ŠçŒ«äºº   175     é±¼å‘²å‘²   1    Heaven   44     0
7  Pandasæ•°æ®åˆ†æ     ç†ŠçŒ«äºº   175     é±¼å‘²å‘²   2        å•é’   37     0
8  Pandasæ•°æ®åˆ†æ     ç†ŠçŒ«äºº   175     é±¼å‘²å‘²   3      ä½™æŸ³æˆè«   50     0
9  Pandasæ•°æ®åˆ†æ     ç†ŠçŒ«äºº   175     é±¼å‘²å‘²   4     Kuroe   82     0

In [105]:
ans_df3.drop(['æ‰€åœ¨ç¾¤','é˜Ÿé•¿ç¼–å·','é˜Ÿé•¿_ç¾¤æ˜µç§°','åºå·'], axis=1,inplace=True)

In [106]:
ans_df3

       é˜Ÿä¼åç§°          æ˜µç§°   ç¼–å·  æ˜¯å¦é˜Ÿé•¿
0    ä½ è¯´çš„éƒ½å¯¹é˜Ÿ      å±±æ«å¶çº·é£     5     1
1    ä½ è¯´çš„éƒ½å¯¹é˜Ÿ          è”¡     6     0
2    ä½ è¯´çš„éƒ½å¯¹é˜Ÿ        å®‰æ…•å¸Œ     7     0
3    ä½ è¯´çš„éƒ½å¯¹é˜Ÿ          ä¿¡ä»°    8     0
4    ä½ è¯´çš„éƒ½å¯¹é˜Ÿ    biubiuğŸ™ˆğŸ™ˆ   20     0
..      ...         ...  ...   ...
141    ä¸ƒæ˜Ÿè”ç›Ÿ       Daisy   63     0
142    ä¸ƒæ˜Ÿè”ç›Ÿ  One Better  131     0
143    ä¸ƒæ˜Ÿè”ç›Ÿ        rain  112     0
144     åº”å¦‚æ˜¯         æ€æ— é‚ª   54     1
145     åº”å¦‚æ˜¯    Justzer0   58     0

[146 rows x 4 columns]

## ã€ä»»åŠ¡ä¸‰ã€‘ç¾å›½å¤§é€‰æŠ•ç¥¨æƒ…å†µ

ã€é¢˜ç›®æè¿°ã€‘ä¸¤å¼ æ•°æ®è¡¨ä¸­åˆ†åˆ«ç»™å‡ºäº†ç¾å›½å„å¿ï¼ˆcountyï¼‰çš„äººå£æ•°ä»¥åŠå¤§é€‰çš„æŠ•ç¥¨æƒ…å†µï¼Œè¯·è§£å†³ä»¥ä¸‹é—®é¢˜ï¼š

1. æœ‰å¤šå°‘å¿æ»¡è¶³æ€»æŠ•ç¥¨æ•°è¶…è¿‡å¿äººå£æ•°çš„ä¸€åŠ
2. æŠŠå·ï¼ˆstateï¼‰ä½œä¸ºè¡Œç´¢å¼•ï¼ŒæŠŠæŠ•ç¥¨å€™é€‰äººä½œä¸ºåˆ—åï¼Œåˆ—åçš„é¡ºåºæŒ‰ç…§å€™é€‰äººåœ¨å…¨ç¾çš„æ€»ç¥¨æ•°ç”±é«˜åˆ°ä½æ’åºï¼Œè¡Œåˆ—å¯¹åº”çš„å…ƒç´ ä¸ºè¯¥å€™é€‰äººåœ¨è¯¥å·è·å¾—çš„æ€»ç¥¨æ•°
<img src="../source/_static/æœŸä¸­-ä»»åŠ¡3.png" width="80%">
3. æ¯ä¸€ä¸ªå·ä¸‹è®¾è‹¥å¹²å¿ï¼Œå®šä¹‰æ‹œç™»åœ¨è¯¥å¿çš„å¾—ç¥¨ç‡å‡å»å·æ™®åœ¨è¯¥å¿çš„å¾—ç¥¨ç‡ä¸ºè¯¥å¿çš„BTæŒ‡æ ‡ï¼Œè‹¥æŸä¸ªå·æ‰€æœ‰å¿BTæŒ‡æ ‡çš„ä¸­ä½æ•°å¤§äº0ï¼Œåˆ™ç§°è¯¥å·ä¸ºBiden Stateï¼Œè¯·æ‰¾å‡ºæ‰€æœ‰çš„Biden State

In [10]:
df4 = pd.read_csv('../data/æµ‹è¯•/president_county_candidate.csv')
df4.head()

      state             county      candidate party  total_votes    won
0  Delaware        Kent County      Joe Biden   DEM        44552   True
1  Delaware        Kent County   Donald Trump   REP        41009  False
2  Delaware        Kent County   Jo Jorgensen   LIB         1044  False
3  Delaware        Kent County  Howie Hawkins   GRN          420  False
4  Delaware  New Castle County      Joe Biden   DEM       195034   True

In [121]:
df5 = pd.read_csv('../data/æµ‹è¯•/county_population.csv')
df5.head()

                  US County  Population
0  .Autauga County, Alabama       55869
1  .Baldwin County, Alabama      223234
2  .Barbour County, Alabama       24686
3     .Bibb County, Alabama       22394
4   .Blount County, Alabama       57826

### é—®é¢˜1

In [119]:
# df4 èšç±»
df4_sum = pd.DataFrame(df4.groupby(['county'])['total_votes'].sum())
df4_sum.head(3)

                  total_votes
county
Abbeville County        12433
Abbot                     417
Abington                 9660

In [124]:
df5['US County'] = df5['US County'].str[1:]
df5['County'] = df5['US County'].str.split(',',expand=True)[0]
df5.head()

                 US County  Population          County
0  Autauga County, Alabama       55869  Autauga County
1  Baldwin County, Alabama      223234  Baldwin County
2  Barbour County, Alabama       24686  Barbour County
3     Bibb County, Alabama       22394     Bibb County
4   Blount County, Alabama       57826   Blount County

In [128]:
ans1 = df5.merge(df4_sum, left_on='County', right_on='county', how='left')
ans1.head(3)

                 US County  Population          County  total_votes
0  Autauga County, Alabama       55869  Autauga County      27770.0
1  Baldwin County, Alabama      223234  Baldwin County     127930.0
2  Barbour County, Alabama       24686  Barbour County      17195.0

In [129]:
ans1[ans1['total_votes']/ans1['Population']>0.5]

                     US County  Population           County  total_votes
1      Baldwin County, Alabama      223234   Baldwin County     127930.0
2      Barbour County, Alabama       24686   Barbour County      17195.0
3         Bibb County, Alabama       22394      Bibb County      80309.0
4       Blount County, Alabama       57826    Blount County      94197.0
6       Butler County, Alabama       19448    Butler County     378358.0
...                        ...         ...              ...          ...
3135  Sheridan County, Wyoming       30485  Sheridan County      23351.0
3136  Sublette County, Wyoming        9831  Sublette County       4970.0
3138     Teton County, Wyoming       23464     Teton County      24719.0
3140  Washakie County, Wyoming        7805  Washakie County       4012.0
3141    Weston County, Wyoming        6927    Weston County       3542.0

[2291 rows x 4 columns]

### é—®é¢˜2

In [156]:
# é€šè¿‡å¿é€è§†
pivot_df4 = df4.pivot(index = ['state', 'county'],
                       columns = ['candidate'],
                       values = ['total_votes'])
pivot_df4.reset_index(inplace=True)
pivot_df4 = pivot_df4.droplevel(0,axis=1) 
pivot_df4.columns = ['state','county']+list(pivot_df4.columns[2:])
pivot_df4.head()

,state,county,None of these candidates,Write-ins,Alyson Kennedy,Bill Hammons,Blake Huber,Brian Carroll,Brock Pierce,Brooke Paige,...,Mark Charles,Phil Collins,President Boddie,Princess Jacob-Fambro,Richard Duncan,Ricki Sue King,Rocky De La Fuente,Sheila Samm Tittle,Tom Hoefling,Zachary Scalf
0,Alabama,Autauga County,NaN,79.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Alabama,Baldwin County,NaN,328.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Alabama,Barbour County,NaN,12.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Alabama,Bibb County,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Alabama,Blount County,NaN,28.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [157]:
ans2 = pivot_df4.groupby('state').sum()

In [158]:
# æ’åºå¾—åˆ°ç»“æœ
ans2 = ans2[list(ans2.sum().sort_values(ascending = False).index)]
ans2.head()

,Joe Biden,Donald Trump,Jo Jorgensen,Howie Hawkins,Write-ins,Rocky De La Fuente,Gloria La Riva,Kanye West,Don Blankenship,Brock Pierce,...,Tom Hoefling,Ricki Sue King,Princess Jacob-Fambro,Blake Huber,Richard Duncan,Joseph Kishore,Jordan Scott,Gary Swing,Keith McCormic,Zachary Scalf
state,,,,,,,,,,,,,,,,,,,,,
Alabama,849648.0,1441168.0,25176.0,0.0,7312.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Alaska,153405.0,189892.0,8896.0,0.0,34210.0,318.0,0.0,0.0,1127.0,825.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Arizona,1672143.0,1661686.0,51465.0,0.0,2032.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Arkansas,423932.0,760647.0,13133.0,2980.0,0.0,1321.0,1336.0,4099.0,2108.0,2141.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
California,11109764.0,6005961.0,187885.0,81025.0,80.0,60155.0,51036.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### é—®é¢˜3

In [163]:
# é—®é¢˜2çš„åŸºç¡€ä¸Šï¼Œæ±‚è§£å¿çš„BTæŒ‡æ ‡
# æ¯ä¸€ä¸ªå·ä¸‹è®¾è‹¥å¹²å¿ï¼Œå®šä¹‰æ‹œç™»åœ¨è¯¥å¿çš„å¾—ç¥¨ç‡å‡å»å·æ™®åœ¨è¯¥å¿çš„å¾—ç¥¨ç‡ä¸ºè¯¥å¿çš„BTæŒ‡æ ‡ï¼Œè‹¥æŸä¸ªå·æ‰€æœ‰å¿BTæŒ‡æ ‡çš„ä¸­ä½æ•°å¤§äº0ï¼Œåˆ™ç§°è¯¥å·ä¸ºBiden Stateï¼Œè¯·æ‰¾å‡ºæ‰€æœ‰çš„Biden State
pivot_df4.head()
ans3 = pivot_df4[['Joe Biden','Donald Trump','state','county']].merge(df5, left_on='county', right_on='County', how='left')
ans3['BT'] = ans3['Joe Biden']/ans3['Population']-ans3['Donald Trump']/ans3['Population']
ans3.head(3)

,Joe Biden,Donald Trump,state,county,US County,Population,County,BT
0,7503.0,19838.0,Alabama,Autauga County,"Autauga County, Alabama",55869.0,Autauga County,-0.220784
1,24578.0,83544.0,Alabama,Baldwin County,"Baldwin County, Alabama",223234.0,Baldwin County,-0.264144
2,24578.0,83544.0,Alabama,Baldwin County,"Baldwin County, Georgia",44890.0,Baldwin County,-1.313566

In [171]:
# æŸ¥æ‰¾ä¸­ä½æ•°, æ³¨æ„æœ‰å¿äººæ•°æœªçŸ¥ï¼Œè¿™é‡Œè®¤ä¸ºBT=0
ans3['BT'] = ans3['BT'].fillna(0)
ans3 = ans3.groupby(['state']).median()

In [172]:
ans3['Biden State'] = False
ans3[ans3['BT'] >0] = True

In [177]:
ans3[ans3['BT'] > 0].index   # ans

Index(['California', 'Delaware', 'Hawaii', 'New Jersey'], dtype='object', name='state')